.profile-container {
  display: flex;
  flex-direction: row;
  height: 650px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.profile-avatar img {
  margin-top: 10px;
  margin-left: 20px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}
.emil {
  display: flex;
  flex-direction: row;
}
.profile-info {
  margin-top: 50px;
}
.ph {
  display: flex;
  flex-direction: row;
}
.profile-personal-info {
  width: 100%;
  height: 100%;
}
.profile-details {
  width: 100%;
  margin-top: 50px;
  margin-left: 20px;
}

/* Add the following style to adjust the positioning of the Edit button */
.profile-actions {
  margin-left: 10px;
  margin-top: 40px;
}

span {
  font-weight: bold;
  color: #72a0c1;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
