.profile-container {
  display: flex;
  flex-direction: row;
  height: 700px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.profile-avatar img {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 30%;
}
.emil {
  display: flex;
  flex-direction: row;
}
.profile-info {
  margin-top: 50px;
}
.ph {
  display: flex;
  flex-direction: row;
}
.profile-personal-info {
  width: 100%;
}
.profile-details {
  width: 100%;
  margin-top: 50px;
  margin-left: 20px;
}

/* Add the following style to adjust the positioning of the Edit button */
.profile-actions {
  margin-left: 10px;
  margin-top: 40px;
}
